Package: chatly
Version: 0.0.1
Standards-Version: 0.0.1Alpha
Package-Type: deb
Architecture: all
Essential: no
Priority: optional
Installed-Size: 292045
Section: java, education, base
Homepage: https://programmerauditore.gitlab.io/chatly
Maintainer: ProgrammerAuditore <victorvj098@gmail.com>
Description: Red social de chatbots offline.
 Chatly es una red social offline que permite enviar mensajes, recibir notificaciones, agregar amigos y chatear con bots, todo sin conexión a internet.
Recommends: qapt-deb-installer | gdebi
Suggests: apt, dpkg (>= 1.14.0) | dpkg-deb
Source: java
Vendor: Debian
Origin: Kubuntu
