[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Chatly
Comment=  Social network chatbots offline.
Comment[es]=  Red social de chatbots offline.
Comment[es_MX]=  Red social de chatbots offline.
Comment[en_GB]=  Social network chatbots offline.
Comment[fr]=  Chatbots de réseaux sociaux hors ligne.
Comment[it]=  Chatbot di social network offline.
Comment[pt]=  Chatbots de redes sociais offline.
Comment[ru]=  Чат-боты социальных сетей в автономном режиме.
Comment[zh_CN]=  社交網絡聊天機器人離線。
Exec=chatly
TryExec=chatly
Icon=chatly
Terminal=false
Type=Application
StartupNotify=true
Categories=Office;Utility;Game;Network;
Keywords=Chatly;Social;Network;Offline;Red;Social;Chatbots;Amigos;Notificaciones;
